{% extends 'base.html' %}

{% block header %}
  <h1 class="mb-4">{% block title %}<a href="{{ url_for('blog.leads_index') }}">Leads</a> » {{ lead.owner_1_first_name }} {{ lead.owner_1_last_name }}{% if lead.owner_2_first_name %} & {{ lead.owner_2_first_name }} {{ lead.owner_2_last_name }}{% endif %}{% endblock %}</h1>
{% endblock %}

{% block content %}

  <!-- "Address","City","State","Zip","County","Living Square Feet", 
      "Year Built","Lot (Acres)","Lot (Square Feet)","Land Use","Subdivision",
      "APN","Legal Description","Property Use","Units Count",
      "Bedrooms","Bathrooms","# of Stories","Garage Type",
      "Garage Square Feet","Air Conditioning Type",
      "Heating Type","# of Fireplaces","Owner 1 First Name","Owner 1 Last Name",
      "Owner 2 First Name","Owner 2 Last Name","Owner Mailing Address",
      "Owner Mailing City","Owner Mailing State","Owner Mailing Zip",
      "Ownership Length (Months)","Owner Type","Owner Occupied","Vacant?",
      "Listing Status","Listing Price","Days on Market","Last Updated",
      "Listing Agent Full Name","Listing Agent First Name",
      "Listing Agent Last Name","Listing Agent Email","Listing Agent Phone",
      "Listing Office Phone","MLS Agent Name","MLS Agent Phone",
      "MLS Agent Office","MLS Type","Last Sale Date",
      "Last Sale Amount","Estimated Value","Estimated Equity",
      "Equity Percent","Open Mortgage Balance","Mortgage Interest Rate",
      "Mortgage Document Date","Mortgage Loan Type","Lender Name",
      "Deed Type","Position","Tax Amount","Assessment Year",
      "Assessed Total Value","Assessed Land Value","Assessed Improvement Value",
      "Market Value","Market Land Value","Market Improvement Value",
      "Status","Default Amount","Opening bid","Recording Date",
      "Auction Date" -->


<div class="row">
  <div class="col-sm">
    <div class="card text-white bg-success mb-3" style="max-width: 45vw;">
      <div class="card-header">{{ lead.address }}, {{ lead.city }}, {{ lead.county}}, {{ lead.zip }}</div>
      <div class="card-body">
        <h4 class="card-title">{{ lead.living_square_feet }}ft²</h4>
        <p class="card-text">
        <ul>
          <li>APN: {{ lead.apn }}</li>
          <li>Year Built: {{ lead.year_built }}</li>
          <li>Months Owned: {{ lead.ownership_length_months }}</li>
          <li>Bedrooms: {{ lead.bedrooms }}</li>
          <li>Bathrooms: {{ lead.bathrooms }}</li>
          <li>Stories: {{ lead.stories }}</li>
          <li>Garage: {{ lead.garage_type }}</li>
          <li>Garage Ft²: {{ lead.garage_square_feet }}</li>
          <li>Air Conditioning: {{ lead.air_conditioning_type }}</li>
          <li>Heating: {{ lead.heating_type }}</li>
          <li>Fireplaces: {{ lead.fireplaces }}</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card text-white bg-success mb-3" style="max-width: 45vw;">
      <div class="card-header">Price Details</div>
      <div class="card-body">
        <h4 class="card-title">${{ lead.listing_price }}</h4>
        <p class="card-text">
        <ul>
          <li>Last Sold: ${{ lead.last_sale_amount }}</li>
          <li>Estimated Value: ${{ lead.estimated_value }}</li>
          <li>State-Equalized Value: ${{ lead.assessed_total_value }}</li>
          <li>Market Value: ${{ lead.market_value }}</li>
          <li>Estimated Equity: {{ lead.estimated_equity }} ({{ lead.equity_percent }}%)</li>
          <li>Assessed Improvement Value: ${{ lead.assessed_improvement_value }}</li>
          <li>Market Improvement Value: ${{ lead.market_improvement_value }}</li>
          <li>Assessed Land Value: ${{ lead.assessed_land_value }}</li>
          <li>Market Land Value: ${{ lead.market_land_value }}</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card text-white bg-success mb-3" style="max-width: 45vw;">
      <div class="card-header">Owner Contact</div>
      <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text">
        <ul>
          <li><a class="btn btn-primary" style="width:100px" href="#">Postcard</a> {{ lead.owner_mailing_address }}, {{ lead.owner_mailing_city }}, {{ lead.owner_mailing_zip }}</li>
          <li><a class="btn btn-primary" style="width:100px" href="#">Email</a> {{ lead.email }}</li>
          <li><a class="btn btn-primary" style="width:100px" href="#">Recorded Call</a> <a class="btn btn-primary" style="width: 100px" href="#">MMS</a> {{ lead.phone }}</a></li>
        </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card text-white bg-success mb-3" style="max-width: 45vw;">
      <div class="card-header">Contact Transaction History</div>
      <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text">
        <ul>
          <li>Coming Soon!</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
