{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{% if g.user %}Welcome to Boundless CRM, {{ g.user['username'] }}!{% else %}Hello, World!{% endif %}{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if g.user %}

    <h2>Coming Soon~</h2>

    <p>Soon you'll be able to do things like:</p>

    <h3>Lead Management</h3>
    <ul>
      <li>Import a CSV List of Leads</li>
      <ul>
        <li>Command-line interface</li>
        <ul>
          <li>✓ PropWire.com</li>
        </ul>
        <li>Web interface</li>
        <ul>
          <li>Drag'n'Drop Column Mapping</li>
        </ul>
      </ul>
      <li>Sort &amp; Filter Leads</li>
      <ul>
        <li><a href="{{ url_for('blog.leads_index') }}">✓ View All Leads</a></li>
        <li><a href="/leads/92">✓ View Indvidual Leads</a></li>
        <li>Sort by column</li>
        <li>Search filters</li>
      </ul>
      <li>View A Timeline of Activities</li>
      <ul>
        <li>Recent direct messages</li>
        <li>Recent impressions</li>
        <li>Recent engagements</li>
      </ul>
      <li>Award Gift Cards</li>
      <ul>
        <li>Thanks.io API Interface</li>
        <li>Automatically award gifts to customers who reach a certain step in a sequence.</li>
        <li>Award gifts manually.</li>
      </ul> 
      <li>Bi-Directional Messaging</li>
      <ul>
        <li>Email</li>
        <li>MMS</li>
        <li>Chat Bot</li>
      </ul>
      <li>Skip-Tracing</li>
      <ul>
        <li>Has customer changed their phone number recently?</li>
        <li>Has customer changed their mailing address w/ USPS recently?</li>
        <li>Is customer in the White Pages?</li>
        <li>Does customer own other properties?</li>
      </ul> 
      <li>Make Phone Calls</li>
      <ul>
        <li>Recordings</li>
        <li>Transcripts</li>
        <li>Sentiment Analysis</li>
      </ul>
    </ul>

    <h3>Mass Communicate</h3>
    <ul>
      <li>Send Email Campaigns</li>
      <ul>
        <li>Track Open Rates...</li>
        <li>Even With Tracking Disabled!</li>
      </ul>
      <li>Mass MMS Messages</li>
      <ul>
        <li>Initiate a sequence of messages upon receiving an Opt-In code.</li>
        <li>Customer can chat w/ an AI while waiting.</li>
        <li>Send message to all, or select customer.s</li>
      </ul>
      <li>EDDM Campaigns</li>
      <ul>
        <li>Export CSV list of leads for Thanks.io</li>
        <li>Track QR Code Open Rates...</li>
        <ul>
          <li>Each postcard gets a unique QR code reference #</li>
        </ul>
      </ul>
    </ul>

    <h3>Team Management</h3>
    <ul>
      <li>Assign leads to team members</li>
      <li>tbd</li>
    </ul>

  {% else %}
    <p>You must <a href="{{ url_for('auth.register') }}">Register</a> in order to use <a href="{{ url_for('blog.index') }}">Boundless CRM</a>.</p>
  {% endif %}

{% endblock %}
