{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}View All Leads{% endblock %}</h1>
{% endblock %}

{% block content %}
  <script>console.log(GetURLParameter("eruda"));</script>

  <table class="table table-hover">
    <tr>
      <th></th>
      <th><a href="?sort_by=owner_1_first_name">Owner 1</a></th>
      <th><a href="?sort_by=owner_2_first_name">Owner 2</a></th>
      <th><a href="?sort_by=address">Address</a></th>
      <th><a href="?sort_by=county">County</a></th>
      <th><a href="?sort_by=zip">Zip</a></th>
      <th><a href="?sort_by=year_built">Year</a></th>
      <th><a href="?sort_by=listing_price">Price</a></th>
      <th><a href="?sort_by=last_updated">Updated</a></th>
    </tr>
    {% for lead in leads %}
      <tr>
        <td><a href="/leads/{{ lead.id }}">🔍</a></td>
        <td>{{ lead.owner_1_first_name }} {{ lead.owner_1_last_name }}</td>
        <td>{{ lead.owner_2_first_name }} {{ lead.owner_2_last_name }}</td>
        <td>{{ lead.address }}</td>
        <td>{{ lead.county }}</td>
        <td>{{ lead.zip }}</td>
        <td>{{ lead.year_built }}</td>
        <td>{{ lead.listing_price }}</td>
        <td>{{ lead.last_updated }}</td>
      </tr>
    {% endfor %}
</table>
{% endblock %}
