{% extends 'base.html' %}

{% set order_by_reverse = "ASC" if order == "DESC" else "DESC" %}

{% block header %}
  <h1>{% block title %}View All Leads{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form action="?" method="post" novalidate>
    <fieldset>
      <legend>Query Builder</legend>
      
      <div class="row">
        <label for="search_by" class="col-sm-2 col-form-label">Search Column</label>
        <div class="col-sm-10">
          <select class="form-select" name="search_by" id="search_by">
            <option>owner_1_first_name</option>
            <option>owner_2_first_name</option>
            <option>owner_1_last_name</option>
            <option>owner_2_last_name</option>
            <option>address</option>
            <option>county</option>
            <option>zip</option>
            <option>year_built</option>
            <option>listing_price</option>
          </select>
        </div>
      </div>
      
      <div class="row">
        <label for="" class="col-sm-2 col-form-label">Search Operation</label>
        <div class="col-sm-10">
          <select class="form-select" name="search_operation" id="search_operation">
            <option>LIKE</option>
            <option><</option>
            <option>></option>
          </select>
        </div>
      </div>

      <div class="row">
        <label for="search_query" class="col-sm-2 col-form-label">Search Query</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" name="search_query" id="search_query" value="lol">
        </div>
      </div>

      <button type="submit" class="btn btn-success">Search</button>

    </fieldset>
  </form>

  <table class="table table-hover">
    <tr>
      <th></th>
      <th><a href="?sort_by=owner_1_first_name&order={{ order_by_reverse }}">Owner 1</a></th>
      <th><a href="?sort_by=owner_2_first_name&order={{ order_by_reverse }}">Owner 2</a></th>
      <th><a href="?sort_by=address&order={{ order_by_reverse }}">Address</a></th>
      <th><a href="?sort_by=county&order={{ order_by_reverse }}">County</a></th>
      <th><a href="?sort_by=zip&order={{ order_by_reverse }}">Zip</a></th>
      <th><a href="?sort_by=year_built&order={{ order_by_reverse }}">Year</a></th>
      <th><a href="?sort_by=listing_price&order={{ order_by_reverse }}">Price</a></th>
      <th><a href="?sort_by=last_updated&order={{ order_by_reverse }}">Updated</a></th>
    </tr>
    {% for lead in leads %}
      <tr>
        <td><a href="/leads/{{ lead.id }}">🔍</a></td>
        <td>{{ lead.owner_1_first_name }} {{ lead.owner_1_last_name }}</td>
        <td>{{ lead.owner_2_first_name }} {{ lead.owner_2_last_name }}</td>
        <td>{{ lead.address }}</td>
        <td>{{ lead.county }}</td>
        <td>{{ lead.zip }}</td>
        <td>{{ lead.year_built }}</td>
        <td>{{ lead.listing_price }}</td>
        <td>{{ lead.last_updated }}</td>
      </tr>
    {% endfor %}
</table>
{% endblock %}
