{% extends 'base.html' %}

{% set order_by_reverse = "ASC" if order == "DESC" else "DESC" %}

{% block header %}
  <h1>{% block title %}View All Leads{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table class="table table-hover">
    <tr>
      <th></th>
      <th><a href="?sort_by=owner_1_first_name&order={{ order_by_reverse }}">Owner 1</a></th>
      <th><a href="?sort_by=owner_2_first_name&order={{ order_by_reverse }}">Owner 2</a></th>
      <th><a href="?sort_by=address&order={{ order_by_reverse }}">Address</a></th>
      <th><a href="?sort_by=county&order={{ order_by_reverse }}">County</a></th>
      <th><a href="?sort_by=zip&order={{ order_by_reverse }}">Zip</a></th>
      <th><a href="?sort_by=year_built&order={{ order_by_reverse }}">Year</a></th>
      <th><a href="?sort_by=listing_price&order={{ order_by_reverse }}">Price</a></th>
      <th><a href="?sort_by=last_updated&order={{ order_by_reverse }}">Updated</a></th>
    </tr>
    {% for lead in leads %}
      <tr>
        <td><a href="/leads/{{ lead.id }}">🔍</a></td>
        <td>{{ lead.owner_1_first_name }} {{ lead.owner_1_last_name }}</td>
        <td>{{ lead.owner_2_first_name }} {{ lead.owner_2_last_name }}</td>
        <td>{{ lead.address }}</td>
        <td>{{ lead.county }}</td>
        <td>{{ lead.zip }}</td>
        <td>{{ lead.year_built }}</td>
        <td>{{ lead.listing_price }}</td>
        <td>{{ lead.last_updated }}</td>
      </tr>
    {% endfor %}
</table>
{% endblock %}
