<!doctype html>
<title>{% block title %}{% endblock %} - Boundless CRM</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>

<!-- Eruda - Mobile Browser Inspection -->
<script>
  ;(function () {
        var src = '//cdn.jsdelivr.net/npm/eruda';
        if (!/eruda=true/.test(window.location) && localStorage.getItem('active-eruda') != 'true') return;
        document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
        document.write('<scr' + 'ipt>eruda.init();</scr' + 'ipt>');
  })();
</script>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='logo.png') }}?v=1"/> Boundless CRM</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarColor01" style="">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          {% if g.user %}
            <a class="nav-link active" href="#">Welcome, {{ g.user['username'] }}
            <span class="visually-hidden">(current)</span>
          </a>
          {% else %}
          <a class="nav-link active" href="{{ url_for('auth.register') }}">Register
            <span class="visually-hidden">(current)</span>
          </a>
          {% endif %}
        </li>
        {% if not g.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('blog.leads_index') }}">Leads</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="content px-4">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<section class="footer px-4">
  <p>Copyright &copy; 2024 VIDA LIQUAMINE INC. All Rights Reservd.</p>
  <p>Made With <a href="https://github.com/hoytnix/boundless-crm" target="_blank">&hearts;</a> In <a href="https://www.traversecity.com/" target="_blank">Traverse City</a>, <a href="https://michigan.gov" target="_blank">Michigan</a> by <a href="https://github.com/hoytnix" target="_blank">Michael Scott Hoyt</a> &amp; <a href="https://github.com/hoytnix/boundless-crm/activity" target="_blank">Contributors</a>.</p>
</section>
